In [3]:
- 1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [35]:
def is_two(n):
    '''number 2 and string 2'''
    return n in (2, '2')

is_two(2)

True

In [ ]:
- 2.Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [90]:
def is_vowel(n):
    return n.lower() in 'aeiou' and len(n) == 1

    '''list all the vowel upper and lower case'''
    # return n in ('a','e','i','o','u','A','E','I','O','U')

is_vowel('e')

False

In [ ]:
- 3. Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [91]:
def is_consonant(n):
    '''this is a opposite of last question, just add not'''
    return n not in ('a','e','i','o','u','A','E','I','O','U') and len(n) == 1

is_consonant('b')

True

In [ ]:
- 4. Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [40]:
def cap_if_consonant(word):
    '''char represent all letters in the string word'''
    for char in word:
        '''char[0] represents the first letter of the word'''
        if char[0] in ('a','e','i','o','u','A','E','I','O','U'):
            '''if the first letter is a vowel, then return the word'''
            return word
        else:
            '''if the first letter is not a vowel, then capitalized the first letter'''
            return word.capitalize()

cap_if_consonant('bell')

'Bell'

In [ ]:
- 5. Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [52]:
def calculate_tip(x,y):
    '''give x and y the meaning'''
    bill_amount = x
    tip_percentage = y
    '''the calculation of tip'''
    tip = x * y
    '''return the tip in a $ format'''
    return (f'${tip}')
    
calculate_tip(100,0.2)

'$20.0'

In [ ]:
- 6. Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [56]:
def apply_discount(x,y):
    '''give x and y the meaning'''
    original_price = x
    discount_percentage = y
    '''calculate the price after discount'''
    final_price = x - x * y
    '''return the tip in a $ format'''
    return (f'${final_price}')

apply_discount(10,0.2)

'$8.0'

In [ ]:
- 7. Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [64]:
def handle_commas(n):
    no_commas = int(n.replace(',' , ''))
    return no_commas

print(handle_commas('1,000,000,000'))

1000000000

In [37]:
def handle_commas(n):
    '''return a new list that replace commas to space'''
    return int(n.replace(',' , ''))

print(handle_commas('1,000,000,000'))

1000000000

In [4]:
- 8. Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [92]:
def get_letter_grade(x):
    '''give each score range a grade, according to differ score range, print different result'''
    if x <=100 and x >= 90 :
        print(f'{x} is an A')
    elif x >= 80:
        print(f'{x} is a B')
    elif x >= 70:
        x(f'{x} is a C')
    elif x >= 60:
        print(f'{x} is a D')
    elif x <= 59 and x >=0:
        print(f'{x} is an F')
    else:
        print('Invalid number')
        
print(get_letter_grade(80.5))

80.5 is a B
None

In [ ]:
- 9. Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [68]:
vowels = ('a','e','i','o','u','A','E','I','O','U')
'''set up a vowels list'''
def remove_vowels(word):
    '''char represents every letters in the word'''
    for char in word:
        '''if any letter is a vowel, remove that vowel'''
        if char in vowels:
            word = word.replace(char,'')
    return word
        
remove_vowels('patato,apple,egg!')

'ptt,ppl,gg!'

In [93]:
def remove_vowels(word):
    output = ''
    for char in word:
        if is_consonant(char):
            output += char
    return output

In [94]:
def remove_vowels(word):
    return ''.join([c for c in word if is_consonant(c)])

In [ ]:
- 10. Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
-- anything that is not a valid python identifier should be removed
-- leading and trailing whitespace should be removed
-- everything should be lowercase
-- spaces should be replaced with underscores
-- for example:
    -- Name will become name
    -- First Name will become first_name
    -- % Completed will become completed

In [120]:
not_python_identifiers = '@, #, %, &, *, !, $, ^'
def normalize_name(string):
    for letter in string:
        if letter in not_python_identifiers:
            string = string.replace(letter, '')
    return string.lower().strip().replace(' ', '_')

normalize_name('First Name')

'firstname'

In [125]:
not_python_identifiers = '@, #, %, &, *, !, $, ^'
def normalize_name(string):
    for letter in string:
        if letter in not_python_identifiers:
            string = string.replace(letter, '')
    return string.lower().strip().replace(' ', '_')

normalize_name('First Name')

'firstname'

In [109]:
def remove_special_char(string):
    return ''.join([c for c in string if c.isalnum() or c == ' '])

def normalize_name(string):
    special_char_removed = remove_special_char(string)
    return special_char_removed.lower().strip().replace(' ', '_')

normalize_name('First Name')

'first_name'

In [108]:
normalize_name('First Name') == 'first_name'

True

In [21]:
def normalize_name(text):
    new_string = (text.strip("0123456789 ").lower().replace(" ", "_"))
    output = ""
    if new_string.isidentifier() == True:
        print(new_string, 'is a valid identifier')
        for i in new_string:
            if i not in "!@#$%^&*()+=-[]{}\/|?.<>,`~":
                output += i
    else: 
        print(new_string, 'is NOT a valid identifier')
    return print(output)

normalize_name("one+one")
normalize_name(" Dani Bojado ") 
normalize_name('First Name')

one+one is NOT a valid identifier

dani_bojado is a valid identifier
dani_bojado
first_name is a valid identifier
first_name

In [ ]:
- 11. Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
-- cumulative_sum([1, 1, 1]) returns [1, 2, 3]
-- cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [32]:
def cumulative_sum(list):
    x = 0
    sum_list=[]
    for n in list:
        x += n
        sum_list.append(x)
    return sum_list
        

cumulative_sum([1,3])

[1, 4]

In [28]:
def cumulative_sum(num_list):
    return [sum(num_list[:i+1]) for i in range(len(num_list))]

cumulative_sum([1,3,5])

[1, 4, 9]

In [33]:
def cumsum(list):
    s = list
    for number in range(1, len(s)):
        s[number] += s[number - 1]
    return s

cumulative_sum([1,10,3])

[1, 11, 14]